<app-header titol="Add Pokemons"></app-header>


<ion-content color="tertiary">
    <!--Añadir pkmns-->
    <form id="formulary">
      <ion-item color="secondary">
        <ion-label for="name" position="floating">Name:</ion-label>
        <ion-input type="text" id="name" [(ngModel)]="name" name="name" value="" required> </ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-label for="type" position="floating">Type:</ion-label>
        <ion-input type="text" id="type1" [(ngModel)]="type1" name="type1" value="" required> </ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-label for="type" position="floating">Type:</ion-label>
        <ion-input type="text" id="type2" [(ngModel)]="type2" name="type2" value=""> </ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-label for="height" position="floating">Height:</ion-label>
        <ion-input type="text" id="height" [(ngModel)]="height" name="height" value="" required> </ion-input>
      </ion-item >
      <ion-item color="secondary">
        <ion-label for="weight" position="floating">Weight:</ion-label>
        <ion-input type="text" id="weight" [(ngModel)]="weight" name="weight" value="" required> </ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-label for="image">Image:</ion-label>
        <ion-input type="file" id="image" [(ngModel)]="image" name="image" value="" required> </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="button" expand="block" color="success" (click)="addPokemon()">Submit</ion-button>
        </ion-col>
      </ion-row>
      
    </form>
    <div id="popUp">Añadido satisfactoriamente!</div>
</ion-content>
