<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulari
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list lines="ful">
      <ion-item>
        <ion-label position="floating">Personatge</ion-label>
        <ion-input [(ngModel)]="nom" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Intèrpret</ion-label>
        <ion-input [(ngModel)]="interpret" type="text"></ion-input>
      </ion-item>
  
  
      <ion-item>
        <ion-label>Casa</ion-label>
        <ion-select  [(ngModel)]="casa" placeholder="Select One">
          <ion-select-option value="Gryffindor">Gryffindor</ion-select-option>
          <ion-select-option value="Ravenclaw">Ravenclaw</ion-select-option>
          <ion-select-option value="Hufflepuff">Hufflepuff </ion-select-option>
          <ion-select-option value="Slytherin">Slytherin  </ion-select-option>
          <ion-select-option value="sense">Sense especificar </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button type="button" (click)="addCharacter()">Afegir</ion-button>
  
    </ion-list>  
  
</ion-content>
