<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="secondary">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" color="tertiary"  lines="none">Home</ion-item>
          <ion-item routerLink="/addpokemons" color="tertiary"  lines="none">Add Pokémons</ion-item>
          <ion-item routerLink="/pokedex" color="tertiary"  lines="none">Pokédex</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
